<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row mb-3 p-2">
            <div class="col-5 bg-light">
                <h2>Nuevo Ninja</h2>
                <form action="/action_page.php">
                    <div>
                        <label for="cars" class="form-label">Choose a car:</label>                    
                        <select id="cars" name="cars" class="form-select">
                            <option value="volvo">Volvo</option>
                        </select>
                    </div>
                    <div>
                        <label for="fname" class="form-label">First name:</label>
                        <input type="text" class="form-control" id="fname" name="fname">
                    </div>
                    <div>
                        <label for="fname" class="form-label">First name:</label>
                        <input type="text" class="form-control" id="fname" name="fname">
                    </div>
                    <div class="mb-3">
                        <label for="fname" class="form-label">First name:</label>
                        <input type="text" class="form-control" id="fname" name="fname">
                    </div>
                    <div class="d-grid gap-2 mb-3 ">
                        <input type="submit" value="Submit" class="btn btn-secondary" >
                    </div>
                </form>
                <div class="row mb-3">
                    <a href="url">link text</a>
                </div>
            </div>
            <div class="col-6"></div>
        </div>
    </div>
    <div id="tabla">
        <div class="container">
            <div class="row p-2">
            <div class="col-6 bg-light">
                <h1 class="my-3">Todos los Usuarios</h1>
                <table class="table table-striped table-hover table-bordered border-secondary">
                    <tr>
                        <th>Company</th>
                        <th>Contact</th>
                        <th>Country</th>
                        <th>Country</th>
                        </tr>
                    <tr>
                        <td>Alfreds Futterkiste</td>
                        <td>Maria Anders</td>
                        <td>Germany</td>
                        <td>Germany</td>
                    </tr>
                </table>
                <div class="row mb-3 mt-3">
                    <a href="url">link text</a>
                </div>
            </div>
            <div class="col-6"></div>
            </div>
        </div>
    </div>
</body>
</html>