<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Inicio</title>
</head>
<body>
    <div class="container">
        <div class="row p-2">
        <div class="col-8 bg-light">
            <h1 class="my-3">Todos los Usuarios</h1>
            <table class="table table-striped table-hover table-bordered border-secondary">
                <tr>
                    <th>Id</th>
                    <th>Nombre Completo</th>
                    <th>Correo electrónico</th>
                    <th>Creado</th>
                    <th>Operaciones</th>
                    </tr>
                {% for un_usuario in all_usuarios %}
                <tr>
                    <td>{{un_usuario.id}}</td>
                    <td>{{un_usuario.nombre}} {{un_usuario.apellido}}</td>
                    <td>{{un_usuario.correo_electronico}}</td>
                    <td>{{un_usuario.created_at}}</td>
                    <td><a href="/usuarios/{{un_usuario.id}}">Ver</a> | <a href="/usuarios/{{un_usuario.id}}/editar">Editar</a> | <a href="/usuarios/{{un_usuario.id}}/eliminar">Eliminar</a></td>
                </tr>                
                {% endfor %}
            </table>
            <div class="row mb-3 mt-3">
                <a href="/usuarios/nuevo">Crear nuevo usuario</a>
            </div>
        </div>
        <div class="col-4"></div>
        </div>
    </div>
</body>
</html>